*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
body{
     font-family:'Open Sans','Helvetica Neue',sans-serif;
}

/* navber section */

nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     max-width: 90vw;
     margin: 0 auto;
     height: 70px;
 }
 
 nav .nav-left img{
     height: 35px;
 }
 nav ul{
     display: flex;
     align-items: center;
     gap: 13px;
 }
 
 nav ul li{
     list-style: none;
 }
 
 nav ul li a{
     text-decoration: none;
     color: gray;
     font-size: 14px;
 }
 
/* navber end */

/* Hero section start*/
 
.hero-section-parent{
     background-image: url(./assets/banner.jpg);
     object-fit: cover;
     background-repeat: no-repeat;
     height: 90vh;
     margin: 0 auto;
     padding-top: 60px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 200px;
     background-position: center;
     background-size: cover;
 }
 .hero-section-article{
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 20px;
 }
 .hero-section-article h4{
     font-size: 50px;
 }
 .hero-section-article p{
     text-align: center;
     color: rgb(220, 219, 219);
 
 }

 /* hero saction en */


 /*common button section*/

.common-btn{
     background-color: #2563EB;
     padding: 18px 26px;
     color: white;
     border: none;
     border-radius: 12px;
     font-weight: 600;
     cursor: pointer;
}
.common-btn2{
     padding: 15px 34px;
     border-radius: 12px;
     font-size: 16px;
     font-weight: 600;
     cursor: pointer;
     transition: 35s;
}
.common-btn{
     background: #2563EB;
     color: wheat;
     border: none;
}
.common-btn:hover{
     background: #1d4ed8;

}
.common-btn2{
     background: transparent;
     border: 2px solid #2563eb;
     color: #2563eb;

}
.common-btn2:hover{
     background: #2563eb;
     color: #fff;

}

/*common button end */

                         
/* speakar section */    

.speakers-section-parent{                               
     width: 100%;
     padding: 90px 8%;                     
     background: #fff;
}
.speakers-pareant{
     max-width: 1180px;
     margin: 0 auto;
     padding: 0 20px;
 }
.speakers-title{
     text-align: center;
     font-size: 56px;
     font-weight: 700;
     color: #111827;
     margin-bottom: 60px;
}                       
.speaker{                                                                                                                                                                         
     display: grid;                                                                                                                                                                                       
     grid-template-columns: repeat(2,1fr);
     gap: 30px;
}                                                                       
.speakers-common{
     background: #fff;                    
     border: 1px solid #ececec;
     border-radius: 10px;                                                                                                        
     overflow: hidden;
     transition: 35s ease;                                                                                         
}
.speakers-common img{
     width: 100%;
     height: 400px;                                                      
     object-fit: cover;
     display: block;
}
.speakers-common article{
     padding: 18px 20px 22px;
}
.speakers-common h4{
     font-size: 27px;
     font-weight: 700;
     color: #111827;
     margin-bottom: 6px;
}
.occupation{
     font-size: 10px;
     font-weight: 700;
     color: #2563eb;
     text-transform: uppercase;
     margin-bottom: 8px;
}
.occupation-2{
     font-size: 13px;
     color: #6b7280;
     line-height: 1.5;
}

/* speakar end */


/* card section */

.card-section-parent{
     width: 100%;
     padding: 100px 8%;
     background: #ffffff;
     font-family: Arial, Helvetica, sans-serif;
}
.card-parent{
     max-width: 1200px;
     margin: auto;
     display: grid;
     grid-template-columns: repeat(3,2fr);
     gap: 28px;
     align-items: stretch;
}
.card-section-title{
     grid-column: 1/-1;
     text-align: center;
     margin-bottom: 30px;
}
.card-section-title h4{
     font-size: 52px;
     color: #142033;
     font-weight: 700;
     margin-bottom: 12px;
}
.card-section-title p{
     color: #000000;
     font-size: 17px;
}
.card{
     background: #fff;
     border: 1px solid #e5e7eb;
     border-radius: 14px;
     padding: 28px;
     transition: 35s;
     display: flex;
     flex-direction: column;
}
.card-2{
     background: #0f1d2d;
     color: wheat;
     border-radius: 14px;
     padding: 28px;
     display: flex;
     flex-direction: column;
}
.card-2 hr{
     border: none;
     border-top: 1px solid rgb(red, green, blue);
}
.card-title{
     font-size: 13px;
     font-weight: 700;
     color: #8a8a8a;
     letter-spacing: 1px;
     margin-bottom: 10px;
}
.card h4,.card-2 h4{
     font-size: 60px;
     font-weight: 700;
     margin-bottom: 6px;
     line-height: 1;
}
.card h4{
     color: #142033;
}
.card-down-title{
     color:#777;
     font-size: 15px;
     margin-bottom: 22px;
}
hr{
     border: none;
     border-top: 1px solid #ececec;
     margin-bottom: 24px;
}
.card-2 ul li p{
     color: #fff;
}
ul{
     color: black;
     padding: 0;
     margin: 0;
     flex: 1;
}
li{
     display: flex;
     align-items: center;
     margin-bottom: 16px;
}
li p{
     margin: 0;
     font-size: 15px;
     line-height: 1.5;
}

.common-btn2{
     background: wheat;
     color: #2f6df6;
     border: 1.8px solid #2f6df6;
}
.common-btn{
     background: #2f6df6;
     color: wheat;
     border: none;
}
.card h4,.card-2 h4{
     margin-top: 0;
}
.card p,.card-2 p{
     margin-top: 0;
}

/* card section end */

/* Event [AI] Section start */
.schedule-section{
     padding:100px 0;
     background:#111827;
 }
 
 .section-title{
     text-align:center;
     margin-bottom:60px;
 }
 
 .section-title h2{
     font-size:42px;
     color:#fff;
     margin-bottom:15px;
 }
 
 .section-title p{
     color:#b5b5b5;
     max-width:650px;
     margin:auto;
     line-height:1.7;
 }
 
 .schedule-wrapper{
     display:grid;
     grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
     gap:30px;
 }
 
 .schedule-card{
     background:#1f2937;
     padding:35px;
     border-radius:18px;
     transition:.35s;
     border:1px solid transparent;
 }
 
 .schedule-card:hover{
     transform:translateY(-10px);
     border-color:#6d5dfc;
 }
 
 .schedule-card.active{
     background:#6d5dfc;
 }
 
 .schedule-card .time{
     display:inline-block;
     background:#fff;
     color:#6d5dfc;
     padding:6px 14px;
     border-radius:50px;
     font-size:14px;
     font-weight:600;
     margin-bottom:20px;
 }
 
 .schedule-card h3{
     color:#fff;
     margin-bottom:15px;
     font-size:24px;
 }
 
 .schedule-card p{
     color:#d5d5d5;
     line-height:1.7;
 }

 /* Event [AI] Section end */


/* Footer section */
footer{
     padding: 16px 7%;
     background-color: #0d1a29;
     margin-top: 60px;
}
.footer-container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 20px;
     padding-bottom: 30px;
}
.footer-icon{
     display: flex;
     gap: 15px;
}
.footer-icon>a{
     text-decoration: none;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 35px;
     height: 35px;
     border-radius: 30px;
     background-color: #0d1a29;
     color: #d2c8d6;
}
.footer-icon a:hover{
     background-color: #000;
     color: #fff;
}
.footer-horizaltal{
     border: 0;
     height: 2px;
     background-color: #e5e7eb;
}
.footer-below{
     padding-top: 25px;
     text-align: center;
}
.footer-below a{
     text-decoration: none;
     color: white;
     margin-left: 20px;
}
.footer-below p{
     margin-bottom: 15px;
     
}
.copy-right-text{
     font-size: 15px;
     color: #ffffff;
}
.social_links{
     display: flex;
     gap: 25px;

}
.social_links a i{
     color: wheat;
}
footer hr{
     margin: 30px 0px;
     
}
.foot_bottom{
     margin-top: 20px;
     color: #7d848c;
}

/* footer section end */