*{
     margin: 0px;
     padding: 0px;
     box-sizing: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.common-btn{
     background-color: #2563EB;
     padding: 10px 26px;
     color: white;
     border: none;
     border-radius: 7px;
     font-weight: 600;
     cursor: pointer;
}
.common-btn2{
     padding: 15px 34px;
     border-radius: 8px;
     font-size: 16px;
     font-weight: 600px;
     cursor: pointer;
     transition: 3s;
}
.common-btn{
     background: #2563EB;
     color: wheat;
     border: none;
}
.common-btn:hover{
     background: #1d4ed8;

}
.common-btn2{
     background: transparent;
     border: 2px solid #2563eb;
     color: #2563eb;

}
.common-btn2:hover{
     background: #2563eb;
     color: #fff;
}